// SWUP
html.swup-enabled
    #main
        transition: opacity 0.2s

html.is-changing
    #main
        opacity: 0

header#document-header
    .logo
        .logo-text
            font-size: pxToRem(27)

footer#document-footer
    display: none

